<script>
    setTimeout(function(){
        $(document).ready(function() {
            $("#owl").owlCarousel({
               items : 3
                
            });
        });    
    },1000);
</script>    
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 weatherforecast">
            <h2>{{ data.city.name }}</h2>


            <div class="owl-carousel" id="owl">
                
                    <div class="item" ng-repeat="list in data.list">    
                        
                        <p><strong>{{ list.dt_txt }}</strong></p>
                        <p><span class="temp">{{ list.main.temp }}</span><i class="wi wi-celsius"></i></p>
                        <p ng-repeat="weather in list.weather">{{ weather.description }}</p>
                        <p><i class="wi wi-wind from-{{ list.wind.deg | number:0 }}-deg"></i></p>
                        <p class="wind-speed">{{ list.wind.speed * 3.6 | number:0 }}km/u</p>
                        <p>Luchtvochtigheid: {{ list.main.humidity }}<i class="wi wi-humidity"></i></p>
                    </div>
                
               
            </div>
        </div>
    </div>
</div>
    